{% load i18n admin_urls admin_list %}
<table id="result_list" class="changelist-table">
    {% if result_hidden_fields %}
        <div class="hiddenfields">{# DIV for HTML validation #}
        {% for item in result_hidden_fields %}{{ item }}{% endfor %}
        </div>
    {% endif %}
    <thead>
        <tr>
            {% for header in cl.headers %}
                <th scope="col" {{ header.class_attrib }}>
                    {% if header.sortable %}
                        <a href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>
                    {% else %}
                        {{ header.text|capfirst }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for result in cl.result_list %}
        <tr class="{% cycle 'row1' 'row2' %}">
            {% for field_name in cl.list_display %}
                <td class="{{ field_name }}-column">
                    {% if field_name == 'action_checkbox' %}
                        {% include "admin/checkbox.html" %}
                    {% elif field_name == 'username' %}
                        {{ result.username }}
                    {% elif field_name == 'student_name' %}
                        {{ result.student_name }}
                    {% elif field_name == 'student_email' %}
                        {{ result.student_email }}
                    {% elif field_name == 'student_class' %}
                        {{ result.student_class }}
                    {% elif field_name == 'fee_due' %}
                        {{ result.fee_due }}
                    {% elif field_name == 'father_name' %}
                        {{ result.father_name }}
                    {% elif field_name == 'phone_number' %}
                        {{ result.phone_number }}
                    {% elif field_name == 'is_active' %}
                        {% if result.is_active %}Yes{% else %}No{% endif %}
                    {% else %}
                        {{ result|default_if_none:'' }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
